@font-face {
  font-family: Bluunext;
  src: url(bluunext.woff2), url(bluunext.woff);
}

body {
  font-family: Bluunext, Times New Roman;
  font-size: 24px;
  line-height: 1.25;

  background-color: #edc7a9;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0));
  color: #000;
  height: 100vh;
  transition: background-color 0.5s ease-in;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

h2 {
  font-size: 10vmin;
}

section {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

section div.circle {
  width: 20px;
  height: 20px;
  background-color: #3e78ed;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease-in;
}

footer {
  position: relative;
  bottom: 50%;
  left: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  display: inline-block;
  margin: 0 10px 10px 10px;
  cursor: pointer;
  width: 35px;
}

section a {
  color: black;
}

.submitbutton {
  background-color: transparent;
  border: none;
  color: black;
  margin: 5px;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 15%;
  transition: background-color .5s ease-in;
}

.submitbutton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

input[type="text"]
{
    background: transparent;
    border: 2px solid black;
    outline: none;
}

.inputbox {
  position: absolute;
}

.inputbox:focus {
  border: none;
  outline: none;
}

input {
  text-align: center;
}

.addcustom {
  position: relative;
  margin-bottom: -40px;
}

.bottomstuff {
  position: relative;
  top: 75%;
}

button:focus {
  outline: none;
}

button {
  text-align: center;
}

.removebutton {
  text-align: left;
  position: relative;
  background-color: transparent; /* Green */
  border: none;
  color: black;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15%;
  transition: background-color .5s ease-in;
  left: 50%;
  bottom: 15px;
  margin-left: -1px;
  transform: translateX(-50%);
}